@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

/* 16px X 62.5 = 10px = 1rem */
/* image size 680px x 830px */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  min-height: 100%;
  font-size: 1.6rem;
  font-family: "Work Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
}

#root {
  height: 100%;
}

/* LAYOUT */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #fff;
}

main {
  grid-area: main;
  padding: 5rem;
}

footer {
  grid-area: footer;
  color: #fff;
  background-color: #164733;
}

/* GLOBAL */
a {
  text-decoration: none;
}

a:hover {
  color: #eee;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin-top: 1.5rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #a4a4a4;
  font-size: 1.6rem;
  font-family: "Work Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
}

button:hover {
  border: 0.1rem solid #404040;
}

button.primary {
  background-color: #f1c661;
}

button.block {
  width: 100%;
}

/* HEADER */
header a {
  color: #164733;
  padding: 1rem;
}

a.brand {
  color: #164733;
  font-size: 3rem;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

/* IMAGES */
img {
  border-radius: 0.5rem;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 98%;
}

/* CARD */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

/* RATING */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #404040;
}

/* ALERT */
.loading {
  display: block !important;
}

.success {
  color: #5cb85c;
}

.danger {
  color: #d9534f;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #14a3b8;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #d9534f;
  background-color: #ffe0e0;
}

.alert-success {
  color: #5cb85c;
  background-color: #eeffe0;
}
