@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

/* 16px X 62.5 = 10px = 1rem */
/* image size 680px x 830px */

/* --green: #3e5a53 */
/* --light-green: #7DB08F */
/* --dark-green: #164733 */
/* --extra-dark: #1B352C */
/* --gold: #f1c661 */
/* --rose-gode: #bd8c7d */
/* --light-gray: #e7e7e7 */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  min-height: 100%;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* LAYOUT */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #fff;
}

main {
  grid-area: main;
  padding: 3rem;
}

footer {
  grid-area: footer;
  color: #fff;
  background-color: #1b352c;
}

/* GLOBAL */
br {
  color: red;
}
a {
  text-decoration: none;
}

a:hover {
  color: #3e5a53;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin-top: 1.5rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #a4a4a4;
  font-size: 1.6rem;
  font-family: "Work Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #e7e7e7;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem solid #404040;
}

button.primary {
  background-color: #f1c661;
}

button.block {
  width: 100%;
}

button.small {
  font-size: 1.2rem;
}

/* HEADER */
header {
  padding: 0 2.3rem;
}

header a {
  color: #1b352c;
  padding: 1rem;
  text-transform: uppercase;
}

a.brand {
  font-family: "Cedarville Cursive", cursive;
  text-transform: none;
  font-size: 5rem;
}

.fa-pagelines {
  color: #7db08f;
}

.badge {
  background-color: #bd8c7d;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.min-30 {
  min-width: 30rem;
}

/* IMAGES */
img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium {
  max-width: 35rem;
  width: 100%;
}
img.large {
  width: 98%;
}

/* CARD */
.card {
  background-color: #fff;
  /* border-radius: 0.5rem; */
  margin: 1rem;
}

.card-body {
  padding: 0.1rem 0 0.5rem 0;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.border {
  border: 0.1rem #e7e7e7 solid;
}

hr {
  background-color: transparent;
  border-top: 1px solid #e7e7e7;
  /* line-height: 19px; */
  /* border-style: inset; */
  /* overflow: hidden; */
  width: 90%;
}

.product-name {
  font-size: 1.7rem;
  padding: 0;
}

.product-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
}

.product-price {
  font-size: 1.7rem;
}

/* RATING */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #404040;
}

/* ALERT */
.loading {
  display: block !important;
}

.success {
  color: #5cb85c;
}

.danger {
  color: #d9534f;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #14a3b8;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #d9534f;
  background-color: #ffe0e0;
}

.alert-success {
  color: #5cb85c;
  background-color: #eeffe0;
}

/* FORM */
.form {
  max-width: 60rem;
  margin: 0 auto;
  /* text-transform: uppercase; */
  /* color: #164733; */
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0.5rem;
}

/* DROPDOWN */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  background-color: #fff;
  position: absolute;
  display: none;
  right: 0;
  min-width: 15rem;
  padding: 0.2rem;
  z-index: 1;
  margin: 0.4rem 0.9rem 0 0;
  border-radius: 0.5rem;
  border: 0.1rem #e7e7e7 solid;
}

.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-content a {
  display: block;
  color: #1b352c;
  text-align: center;
}

.dropdown:hover .dropdown-content a:hover {
  color: #000;
}

/* CHECKOUT STEPS */
.checkout-steps > div {
  border-top: 0.3rem solid #e7e7e7;
  color: #e7e7e7;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active {
  border-top-color: #bd8c7d;
  color: #bd8c7d;
}

/* TABLE */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}

.table button {
  margin: 0 0.2rem;
}
